:root {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  --color-link: #1a73e8;
}
html,body,#container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.visible-when-authorized, .visible-when-chart {
  display: none;
}

header { padding: 10px; }
footer {
  display: flex;
  justify-content: center;
}
section { position: relative; }

.report-block {
  display: inline-block;
  -moz-box-shadow:    0px 1px 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.3);
  border-radius: 4px;
  float: left;
  margin: 10px;
}
.report-block > h4 {
  margin: 0;
  position: relative;
  top: -9px;
  left: 10px;
  padding: 0 4px;
  background: #FFF;
  display: inline-block;
}

#labels {
  max-height: 500px;
  max-height: 70vh;
  overflow-x: scroll;
  overflow-y: auto;
}
#labels label {
  -webkit-font-smoothing: auto;
  font-size: .75rem;
  letter-spacing: .3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 18px;
  line-height: 18px;
  padding: 0 4px;
}

.report-block > div {
  padding: 0 10px 10px 10px;
}
#dates .input-area, #sent-to-from .input-area { display: flex; }
#dates .input-area label, #sent-to-from .input-area label {
  margin-right: 4px;
  font-size: 12px;
}
#dates .input-area input, #sent-to-from .input-area input { display: block; }
#dates .input-area label { width: 60px; }
#sent-to-from .input-area label { width: 35px; }


#submit-query, #signout-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  letter-spacing: .25px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  min-width: 80px;
  padding: 0 16px;
  outline: none;
  border: none;
  border-radius: 4px;
}
#submit-query:hover, #signout-button:hover { opacity: 0.8; }
#submit-query {
  background-color: #1a73e8;
  color: #fff;
  float: right;
}
#signout-button {
  background-color: #777;
  color: #fff;
}
#container { display: flex; }
#body-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#report-blocks, #report-content { flex: 1; }
#report-blocks {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#download-csv {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  letter-spacing: .25px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  color: var(--color-link);
}
